---
metadata:
  title: Metagen Docs
  desc: Documentation site for eleventy-plugin-metagen
  twitter_handle: tannerdolby
  twitter_card_type: summary_large_image
  img: https://tannerdolby.com/images/arch-spiral-large.jpg
  img_alt: An Archimedean Spiral generated with JavaScript
  comments: true
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        {% metagen metadata %}
        <meta name="theme-color" content="#fff">
        <meta name="background-color" content="#fff">
        <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
        {% set css %}
            {% include "css/style.css" %}
            {% include "css/reset.css" %}
            {% include "css/prism.css" %}
        {% endset %}
        <style>
           {{ css | cssmin | safe }}
        </style>
    </head>
    <body>

        {{ content | safe }}

        {% set js %}
            {% include "js/direct-links.js" %}
        {% endset %}
        <script>
            {{ js | jsmin | safe }}
        </script>
    </body>
</html>