<header class="main-menu">
    <a class="header-icon" href="https://www.npmjs.com/package/eleventy-plugin-metagen"><span>🚀</span> Metagen</a>
    <nav class="nav-menu">
        <ul>
            <li><a href="https://github.com/tannerdolby/eleventy-plugin-metagen">GitHub</a></li>
            <li><a href="https://www.npmjs.com/package/eleventy-plugin-metagen">npm</a></li>
            <li>Version: v{{ site.version }}</li>
        </ul>
    </nav>
</header>