/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #eee;
  color: #111;
}

.heroBanner a {
  background: #1a6bdd !important;
  color: #fff !important;
}

.heroBanner a:hover {
  background: #1764d1 !important;
}

[data-theme='dark'] .heroBanner {
  color: rgb(230, 228, 228) !important;
  background: #121211;
}

[data-theme='dark'] .heroBanner a {
  background: rgb(212, 213, 216) !important;
  color: #111 !important;
}

[data-theme='dark'] .heroBanner a:hover {
  background: rgb(191, 191, 194) !important;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
